<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <a href="/" class="navbar-brand"><i class="fa fa-cube"></i><b style="color: coral;">FPT</b> <b>CMS</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav">
            <a href="/" class="nav-item nav-link active">Home</a>
            <a href="#" class="nav-item nav-link">About</a>
            {{#ifCond user.role "==" "admin"}}
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Services</a>
                <div class="dropdown-menu">
                    <a href="/admin/users" class="dropdown-item">User Management</a>
                </div>
            <div class="dropdown-menu">
                    <a href="/course/control" class="dropdown-item">Course Management</a>
                </div>
            </div>
            {{/ifCond}}
        </div>
        <form class="navbar-form form-inline">
            <div class="input-group search-box">
                <input type="text" id="search" class="form-control" placeholder="Search by Name">
                <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
            </div>
        </form>
        <div class="navbar-nav ml-auto">
            {{!-- <a href="#" class="nav-item nav-link notifications"><i class="fa fa-bell-o"></i><span class="badge">1</span></a>
            <a href="#" class="nav-item nav-link messages"><i class="fa fa-envelope-o"></i><span class="badge">10</span></a></a> --}}
            {{#if (isdefined user)}}
            <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action">{{user.fullname}}<b
                        class="caret"></b></a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a></a>
                    <a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a></a>
                    <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a></a>
                    <div class="dropdown-divider"></div>
                    <a href="/auth/logout" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a></a>
                </div>
            </div>
            {{else}}
            <a href="/auth/login" class="nav-item nav-link">Login</a>
            {{/if}}
        </div>
    </div>
</nav>