<script src="/assets/js/autocomplete.js"></script>
<script>
    function getUser(role, callback) {
        if (typeof callback == "function")
            $.ajax({
                url: `/api/user?id=user&refby=${role}`,
                type: 'GET',
                dataType: "json",
                success: callback
            });
    }
    getUser("trainer", (users) => {
        autocomplete_v2(document.getElementById("userauto-trainer"), users["data"], "username");
    });
    getUser("trainee", (users) => {
        autocomplete_v2(document.getElementById("userauto-trainee"), users["data"], "username");
    });
    getUser("trainer", (users) => {
        for (let i = 0; i < users.data.length; i++) {
            var data = users["data"][i];
            $("#trainer-group").append(`<option value="${data.username}">${data.username}</option>`);
        }
    });
    getUser("trainee", (users) => {
        for (let i = 0; i < users.data.length; i++) {
            var data = users["data"][i];
            $("#trainee-group").append(`<option value="${data.username}">${data.username}</option>`);
        }
    });
</script>
<div class="login-form">
    <form action="" method="post">
        <h2>Course Inviting</h2>
        <hr>
        <div class="form-group">
            <p><small style="color: red;">{{message}}</small></p>
        </div>
        <label>Trainer</label>
        <div class="form-group">
            <select id="trainer-group" onchange="fillinput(event, 'userauto-trainer')" class="form-control">
                <option disabled selected>--Choose user manually--</option>
            </select>
            <div class="autocomplete">
                <input type="text" class="form-control" name="trainerusername" placeholder="Trainer's Username..."
                    id="userauto-trainer">
            </div>
        </div>
        <label>Trainee</label>
        <div class="form-group">
            <select id="trainee-group" onchange="fillinput(event, 'userauto-trainee')" class="form-control">
                <option disabled selected>--Choose user manually--</option>
            </select>
            <div class="autocomplete">
                <input type="text" class="form-control" name="traineeusername" placeholder="Trainee's Username..."
                    id="userauto-trainee">
            </div>
        </div>
        <label>Course</label>
        <div class="form-group">
            <select name="course" class="form-control">
                {{#each course}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Add</button>
        </div>
    </form>
    <div class="hint-text">Go back to <a href="/admin/course/">course control panel</a></div>
</div>
<script>
    function fillinput(e, elementId) {
        document.getElementById(elementId).value = e.target.value;
    }
</script>