<script src="/assets/js/autocomplete.js"></script>
<div class="login-form">
    <form action="" method="post">
        <h2>Course Inviting</h2>
        <hr>
        <div class="form-group">{{message}}</div>
        <div class="autocomplete">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username" id="userauto" required>
            </div>

        </div>
        <div class="form-group">
            <select name="category" class="form-control">
                {{#each course}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Add</button>
        </div>
    </form>
    <div class="hint-text">Go back to <a href="/course/control">course control panel</a></div>
</div>
<script>
    $.ajax({
        url: 'http://localhost:3000/api?id=user',
        type: 'GET',
        dataType: "json",
        success: (users) => {
            autocomplete_v2(document.getElementById("userauto"), users["data"], "username")
        }
    });

</script>